[submodule "Programs/modime"]
	path = Programs/modime
	url = https://github.com/pleonex/modime
[submodule "Programs/sadl"]
	path = Programs/sadl
	url = https://github.com/pleonex/sadl-audio-format
[submodule "Programs/NerdFontTerminatoR"]
	path = Programs/NerdFontTerminatoR
	url = git@github.com:pleonex/NerdFontTerminatoR.git
[submodule "Programs/Downlitor/libgame"]
	path = Programs/Downlitor/libgame
	url = git@github.com:pleonex/libgame.git
