# Ignore generated compiler files
Compiler/*.exe
Compiler/*.dll*
Compiler/NinoScritor.exe

# Ignore the game data
GameData/

# Ignore armips executable for tests
Assembly/armips.exe

# Ignore python compiled files
*.pyc

# Ignore C# executable en preference files
bin/
obj/
*.userprefs
*.suo
*.csproj.user

# NuGet packages
packages/

# StyleCop
StyleCop.Cache

# Ignore patch
Programs/NinoPatcher/NinoPatcher/Resources/PatchES.xdelta
Programs/NinoPatcher/NinoPatcher/Resources/Book.torrent

# Ignore private assembly sign keys
Programs/NinoPatcher/keypar.snk

# Assembly fuctions that I cannot share for copyright reasons...
Docs/asm
