[submodule "Programs/modime"]
	path = Programs/modime
	url = https://github.com/pleonex/modime
[submodule "Programs/sadl"]
	path = Programs/sadl
	url = https://github.com/pleonex/sadl-audio-format
[submodule "Programs/NerdFontTerminatoR"]
	path = Programs/NerdFontTerminatoR
	url = git@github.com:pleonex/NerdFontTerminatoR.git
[submodule "Programs/Downlitor/libgame"]
	path = Programs/Downlitor/libgame
	url = git@github.com:pleonex/libgame.git
[submodule "Programs/xdelta-sharp"]
	path = Programs/xdelta-sharp
	url = git@github.com:pleonex/xdelta-sharp
[submodule "Programs/NinoTweet/libgame"]
	path = Programs/NinoTweet/libgame
	url = git@github.com:pleonex/libgame.git
[submodule "Programs/NinoImager"]
	path = Programs/NinoImager
	url = git@github.com:pleonex/NinoImager.git
[submodule "Programs/NinoDrive"]
	path = Programs/NinoDrive
	url = https://bitbucket.org/Zkarts/ni-no-drive.git
