# Ignore armips executable for tests
Assembly/armips.exe

# Ignore python compiled files
*.pyc

# Ignore C# executable en preference files
bin/
obj/
*.userprefs
*.suo
*.csproj.user

# NuGet packages
packages/

# StyleCop
StyleCop.Cache

# Ignore patch
Programs/NinoPatcher/NinoPatcher/Resources/PatchES.xdelta
